# Keycloak environment variables
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
AUTH_DB_NAME=keycloak
AUTH_DB_USER=keycloak
AUTH_DB_PASSWORD=keycloak

# PostgreSQL database credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# App environment variables
APP_DB_NAME=cryptoaction
APP_DB_USER=cryptoaction
APP_DB_PASSWORD=cryptoaction

# IPFS 
IPFS_URL=http://localhost:5001